.counter {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  margin: 0;
  padding: 0;

  height: 2rem;
}

.counter > h3 {
  min-width: 20px;
}

.counter > .circle {
  border: none;
  border-radius: 50%;

  background-color: #666666;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2rem;
  height: 2rem;

  margin: 0 10px;
  padding: 0;
}

.counter > .unavailable {
  background-color: #ff4d4d;
}
