.buttons-settings-container {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

.current-button-label {
  font-size: 1.2rem;
  font-weight: 600;
}

.button-label-input > input {
  background-color: var(--panel-grey-color);
  border: 1px solid white;
  border-radius: 6px;

  margin: 0;
  padding: 3px 6px;

  width: 90%;
  height: 100%;
}

.is-custom-label-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.is-custom-label-container > h3 {
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

.current-button-color {
  font-size: 1.2rem;
  font-weight: 600;
}

.color-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.color-item > h3 {
  font-size: 1.2rem;
  font-weight: 600;

  margin: 0;
  margin-left: 10px;
  padding: 0;
}
