.message-text-container {
  margin: 0;
  padding: 0;
  display: flex;
}

.message-text-container > textarea {
  border: 1px solid white;
  border-radius: 6px;

  background-color: var(--panel-grey-color);
  font-size: 1.2rem;

  width: 90%;
  height: 100%;
  resize: none;

  margin: 0 auto;
  margin-left: 0;
  padding: 3px 6px;
}
