.switchbox {
  display: flex;
  justify-content: start;
  align-items: center;

  width: auto;
}

.switch {
  background-color: var(--panel-grey-color);
  width: 60px;
  height: 30px;
  border: 2px solid white;
  border-radius: 60px;
  position: relative;
  transition: 0.2s;
}

.switch::before {
  position: absolute;
  content: '';
  width: 26px;
  height: 26px;
  border-radius: 26px;
  background-color: var(--white-color);
  margin: 2px;
  transition: 0.2s;
  transform: translateX(-30px);
}

.switchbox > input {
  display: none;
}

.switchbox > input:checked + .switch {
  background-color: var(--green-color);
}

.switchbox > input:checked + .switch::before {
  transform: translateX(0);
}
