.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 5px;

  color: white;
  text-align: center;

  margin: 2%;
  padding: 0;

  height: 35px;
  width: 100%;

  min-height: 25px;

  font-weight: bold;
  font-size: 14px;
}

.primary {
  background-color: var(--blue-color);
}

.secondary {
  background-color: var(--white-color);
  color: black;
}

.negative {
  background-color: var(--red-color);
}

.positive {
  background-color: var(--green-color);
}
