.navbar {
  border-radius: 10px;

  background-color: #404040;
  color: white;
  text-align: center;

  margin: 0;
  padding: 0;

  height: 50px;
  width: 100vw;

  min-width: 1155px;
  max-width: 100%;
}
