.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px;
  align-items: center;

  border-radius: 10px;

  background-color: var(--panel-grey-color);
  color: white;
  text-align: center;

  margin: 0 1vw;
  padding: 0;

  height: 50px;

  min-width: calc(330px + 400px + 1vw);
  width: calc(100% - 2vw);
}

.navbar > h1 {
  justify-self: center;

  margin: 0;
  padding: 0;
  min-width: 300px;
}

.navbar > .toggle-leftsidebar {
  justify-self: start;

  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.navbar > .toggle-leftsidebar > .toggle-leftsidebar-line {
  background-color: var(--light-grey-color);

  border: none;
  border-radius: 5px;

  height: 5px;
  width: 40px;

  margin: 5px 0;
  padding: 0;
}

.navbar > .preview-mode-container {
  justify-self: end;
  display: flex;
  flex-direction: row;

  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.navbar > .preview-mode-container > h3 {
  margin-right: 10px;
}
