.sidebar {
  background-color: var(--panel-grey-color);
  color: white;
  text-align: center;
  white-space: nowrap;

  border: none;
  border-radius: 10px;

  min-width: 330px;
  min-height: calc(90vh - 1vh);

  margin: 1vh 1vw;
  padding: 0 1vw 1vh 1vw;

  display: flex;
  flex-direction: column;
  align-self: start;
}

.project-name-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.page-id-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.project-name-container > input,
.page-id-container > input {
  background-color: var(--panel-grey-color);
  border: 1px solid white;
  border-radius: 6px;

  margin: 0 auto;
  margin-left: 0;

  padding: 3px 6px;

  width: 90%;
  height: 100%;
}

.empty-bottom-space {
  height: 10px;
  width: 100%;
}

.left-sidebar {
}

.right-sidebar {
}

.sidebar > h1 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sidebar > h2 {
  margin: 0 auto;
  margin-bottom: 10px;
}
