.sidebar {
  background-color: #404040;
  color: white;
  text-align: center;

  border: none;
  border-radius: 10px;

  min-width: 330px;
  min-height: 90vh;

  margin: 1vh 1vw;

  display: flex;
  flex-direction: column;
  align-self: start;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;

  height: 2.5rem;
}

.project-name-container > input,
.page-id-container > input {
  background-color: #404040;
  border: 1px solid white;
  border-radius: 6px;

  width: 80%;
  height: 100%;

  margin: 0 auto;
  padding: 3px 6px;
}

.circle {
  background-color: #666666;
  color: white;
  border: none;
  border-radius: 50%;

  width: 2rem;
  height: 2rem;

  margin: 0 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.unavailable {
  background-color: #ff4d4d;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  margin: 0 auto;
  margin-left: 20px;

  height: 2rem;
}

.counter > h3 {
  min-width: 20px;
}

.allowed-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: white;

  margin: 0 auto;
  margin-left: 20px;
  margin-right: 57%;

  height: 2rem;
}

.allowed-item > h3 {
  margin-left: 10px;
  margin-right: auto;
}

.add-extension {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.add-extension > input {
  background-color: #404040;
  border: 1px solid white;
  border-radius: 6px;

  width: 40%;
  height: 100%;

  margin-left: 25px;
  margin-right: 0;
  padding: 3px 6px;
}

.add-extension > span {
  margin-left: 10px;
}

.empty-bottom-space {
  height: 10px;
  width: 100%;
}

.left-sidebar {
}

.right-sidebar {
}

.sidebar > h1 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sidebar > h2 {
  margin: 0 auto;
  margin-bottom: 10px;
}

.page-id-display {
  border: 1px solid white;
  border-radius: 6px;

  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 0 10px;
}

.page-id-display > h2 {
  min-width: 0;
}

.message-text-container > textarea {
  border: 1px solid white;
  border-radius: 6px;

  background-color: #404040;
  font-size: 1.2rem;

  width: 80%;
  height: 100%;
  resize: none;

  margin: 0 auto;
  padding: 3px 6px;
}

.warning-text {
  border: 1px solid white;
  border-radius: 6px;

  background-color: rgb(254, 110, 114, 0.5);
  color: white;

  width: 80%;

  margin: 0 auto;
}
